<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-back-button> </ion-back-button>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-card>
      <ion-avatar class="avatar">
        <img src="https://pps.whatsapp.net/v/t61.24694-24/337911523_218618970840272_7572009070990356147_n.jpg?ccb=11-4&oh=01_AdSbuaZathFxj0xS7QKS69t0ALrpvapxRFJ-c_n7pdtDzA&oe=6432C890" />
      </ion-avatar>


      <ion-row>
        <ion-col>
          <ion-icon name="call"><h3>Ligar</h3></ion-icon>
        </ion-col>

  <ion-col>
    <ion-icon name="chatbox-ellipses"></ion-icon>
  </ion-col>

  <ion-col>
    <ion-icon name="videocam">Videochamada</ion-icon>
  </ion-col>

    </ion-row>

    <h3>Juan Giglioli Guilice</h3>
    <h4>jgiglioliguilice@gmail.com</h4>
    </ion-card>

</ion-content>
