<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button> </ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-avatar class="avatar">
      <img src="https://pps.whatsapp.net/v/t61.24694-24/316954347_191576390151517_8397521310733065734_n.jpg?ccb=11-4&oh=01_AdTn3rsuQm1oO_Jvn6JpuqnG6TK5MdGJK4ZjCkOZsA45gg&oe=643297FE" />
    </ion-avatar>


    <ion-row>
      <ion-col>
        <ion-icon name="call"><h3>Ligar</h3></ion-icon>
      </ion-col>

<ion-col>
  <ion-icon name="chatbox-ellipses"></ion-icon>
</ion-col>

<ion-col>
  <ion-icon name="videocam">Videochamada</ion-icon>
</ion-col>

  </ion-row>

  <h3>Camila Giglioli</h3>
  <h4>camilagiglioli346@gmail.com</h4>
  </ion-card>
</ion-content>
