<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-back-button> </ion-back-button>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-card>
      <ion-avatar class="avatar">
        <img src="https://pps.whatsapp.net/v/t61.24694-24/336548697_921203622261854_8376230595691503387_n.jpg?ccb=11-4&oh=01_AdQN1C28YxMk1K1V8knaATHSG6texqNVqT__xR5CR9IoHQ&oe=6432B9C5" />
      </ion-avatar>


      <ion-row>
        <ion-col>
          <ion-icon name="call"><h3>Ligar</h3></ion-icon>
        </ion-col>

  <ion-col>
    <ion-icon name="chatbox-ellipses"></ion-icon>
  </ion-col>

  <ion-col>
    <ion-icon name="videocam">Videochamada</ion-icon>
  </ion-col>

    </ion-row>

    <h3>Marcela Martins</h3>
    <h4>marcelinha@gmail.com</h4>
    </ion-card>

</ion-content>
