<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-back-button> </ion-back-button>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-card>
      <ion-avatar class="avatar">
        <img src="https://pps.whatsapp.net/v/t61.24694-24/319927872_216135257633833_8100503057198014006_n.jpg?ccb=11-4&oh=01_AdTjEoGN1Eg5OaQVZK0LOhWg4jwokYHWuq9O_yej4b9KAg&oe=6432B084" />
      </ion-avatar>


      <ion-row>
        <ion-col>
          <ion-icon name="call"><h3>Ligar</h3></ion-icon>
        </ion-col>

  <ion-col>
    <ion-icon name="chatbox-ellipses"></ion-icon>
  </ion-col>

  <ion-col>
    <ion-icon name="videocam">Videochamada</ion-icon>
  </ion-col>

    </ion-row>

    <h3>Gabriela Silva</h3>
    <h4>vigabies224@gmail.com</h4>
    </ion-card>

</ion-content>
